@charset "utf-8";

/* subContainer */
.subContainer {width: 1100px; margin: 0 auto;}

.topBn {width: 1100px; height: 264px; background: url(../images/sub/topBn.jpg) no-repeat center; position: relative;}
.topBn::before {content: ""; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #123c48; opacity: 0.2;}
.topBn p {text-align: center; font-size: 47px; line-height: 1em; line-height: 264px; color: #fff; position: relative;}

.location {margin: 20px 0 50px;}
.location li {float: left;}
.location li a {display: block; margin-right: 5px; color: #666; font-size: 14px;}
.location .on a {color: #121212;}

/* contT */
.contT {padding-bottom: 10px; border-bottom: 1px solid #123c48;}
.contT_left {float: left;}
.contT_viewItem {float: right;}
.contT_viewItem .order_list {float: left; margin-right: 10px; font-size: 14px;}
.contT_viewItem .order_list .order_item {float: left;}
.contT_viewItem .order_list .order_item a { color: #777; font-size: 14px;}
.contT_viewItem .order_list .on {margin-right: 5px; border-right: 1px solid #ddd; padding-right: 4px;}
.contT_viewItem .order_list .on a {color: #121212;}
.contT_viewItem .qnt_selector {float: left; margin-top: -2px;}
.qnt_selector {border: 1px solid #bbb; padding: 2px 7px 6px 5px;}

/* contL */
.contL {margin-top: 15px; float: left;}
.contL h2 {display: none;}
.contL .pdList .m {display: block; width: 170px; padding: 12px 15px; background: #e7ebec; font-weight: 500; font-size: 16px; box-sizing: border-box;}
.contL .pdList .m.active {background: #123c48; color: #fff;}
.contL .pdList:hover>a {background: #123c48; color: #fff;}

.contL .sublist {display: none;}
.contL .sublist.active {display: block;}
.contL .sublist a {display: block; width: 170px; padding: 12px 15px; background: #fff; font-weight: 500; font-size: 16px; box-sizing: border-box;}
.contL .sublist a {width: 170px; padding: 12px 15px; background: #fff; font-weight: 500; font-size: 16px; box-sizing: border-box;}
.contL .sublist .active a {background: #f3f5f6;}
.contL .sublist a:hover {display: block; background: #f3f5f6;}

.csMeun {margin-top: 40px;}
.csMeun li { width: 170px; height: 68px; position: relative;}

/*common*/
.csMeun li a {display: block; background: #fff; border: 1px solid #bbb; font-weight: 500; font-size: 16px; line-height: 68px; padding-left: 68px; box-sizing: border-box;}
.csMeun li a i {display: block; width: 41px; background-repeat: no-repeat; background-image: url(../images/sub/icon.png); position: absolute; top: 17px; left: 15px;}
.csMeun li:nth-child(1) a i {height: 34px;}
.csMeun li:nth-child(2) a i {height: 35px; background-position: 0 -34px;}
.csMeun li:nth-child(3) a i {height: 32px; background-position: 0 -70px;}
.csMeun li:nth-child(4) a i {height: 34px; background-position: 0 -102px;}

/* contR */
.contR {float: right; width: 890px; margin-top: 15px;}

/* productBox */
.productBox li {width: 290px; overflow: hidden; border: 1px solid #ddd; float: left; margin-right: 10px; margin-bottom: 20px; box-sizing: border-box;}
.productBox li:nth-child(3n) {margin-right: 0;}
.productBox li a {display: block; width: 100%; height: auto;}
.productBox .photo {height: 282px; transition: all 0.8s;}
.productBox li:hover a .photo {margin-left: -60px;}
.productBox .text {padding: 15px 10px;}
.productBox li:hover .text {color: #7bc342;}
.productBox .nameE {font-size: 14px;}
.productBox .nameK {font-size: 16px;}

.paginate {width: 35.8px; margin: 0 auto; padding: 10px 0 50px 0;}
.paginate div {float: left;}
.paginate .pre,
.paginate .nex {width: 7px; height: 7px; border-top: 2px solid #bbb; border-left: 2px solid #bbb; transform: rotate(-45deg); margin-top: 6px;}
.paginate .pre {transform: rotate(-45deg);}
.paginate .nex {transform: rotate(135deg);}
.paginate .page_num { margin: 0 5px;}