@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 12px;
    line-height: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}
img{
    border: 0;
    vertical-align:top;
}
a{
    color: #121212;
    text-decoration: none;
}
ul{
    list-style: none;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

address{font-style: normal;}

button{outline: none;}

